@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Kanit&display=swap');
.pane{
    -fx-background-color: radial-gradient(center 50% 50%, radius 60%, reflect, royalblue, black );
    -fx-background-image: url("Dartscheibe-removebg.png");
    -fx-background-size: 800 800;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}
.dart{
    -fx-fill:orange;
}

.Points{
    -fx-text-fill: black;
    -fx-font-size: 25;
    -fx-label-padding:25 25 25 50;
}
.Text{
    -fx-text-fill: black;
    -fx-font-size: 15;
}
.paneWinn{
    -fx-background-image: url("https://images.dartprofis.de/news/2017/big/Dart_WM_2018_Finale_Vorschau_Pokal.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: 1300 800;
}
.winn{
    -fx-font-size: 40;
    -fx-text-fill: white;
    -fx-font-family: "Rubik Doodle Shadow";
    -fx-background-color: radial-gradient(center 50% 50%, radius 60%, reflect, royalblue, black ) ;
    -fx-padding: 50 315 50 315;
    -fx-background-size: 50 315;

}
.anzahlDart{
    -fx-font-size: 40;
    -fx-text-fill: white;
    -fx-font-family: "Rubik Doodle Shadow";
    -fx-background-color: radial-gradient(center 50% 50%, radius 60%, reflect, royalblue, black ) ;
    -fx-padding: 50 312.5 50 312.5;
    -fx-background-size: 50 315;
}
.name{
    -fx-font-size: 50;
    -fx-text-fill: white;
    -fx-padding: 0 20 0 20;
    -fx-font-family: Kanit;
}
.winCounter{
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-padding: 0 0 0 20;
    -fx-font-family: Kanit;
}
.buttonSpielen{
    -fx-font-family: Kanit;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-background-color: radial-gradient(center 50% 50%, radius 60%, reflect, royalblue, black );
}
.counterTxt{
    -fx-font-size: 20;
}