.pane{
    -fx-background-color: radial-gradient(center 50% 50%, radius 60%, reflect, royalblue, black );
    -fx-background-image: url("Dartscheibe-removebg.png");
    -fx-background-size: 800 800;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}
.dart{
    -fx-fill:orange;
}

.Points{
    -fx-text-fill: black;
    -fx-font-size: 25;
    -fx-label-padding:25 25 25 50;
}
.Text{
    -fx-text-fill: black;
    -fx-font-size: 15;
}
